@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline{
  border-color: #111860 !important;
}
.cusborder {
    border-radius: 10px;
	border-left: 10px solid #1a2dda;
    padding: 10px;
	box-shadow: 0px 0px 40px -10px #ccc;
}
.slick-list {
    width: 320px;
	margin: auto !important;

}
.slick-slide img {
    margin: auto;
}
.is_CardHeader._ai-stretch{
    padding-left: 10px !important;
    margin-left: 0px !important;
}
.bottomdashboard {
    width: 348px;
    padding: 0px 8px 0px 8px;
    margin: auto;
    height: 84px;
    gap: 8px;
    border-radius: 0px 0px 15px 15px;
}
span.mt-1.text-xs {
	letter-spacing:0.5px;
    font-weight:600;
	font-size:12px;
	color:#1A4C22;
}
.slick_sliderr {
	box-shadow: 0px 0px 0px 0px;
    margin-bottom: 50px;
}
.slick_text {
    width: 320px;
}

.datepickerbg .MuiFormControl-root.MuiTextField-root.css-z3c6am-MuiFormControl-root-MuiTextField-root {
    background: #fff;
}
.datepickerbgshift .MuiFormControl-root.MuiTextField-root.css-z3c6am-MuiFormControl-root-MuiTextField-root {
    background: #fff;
}
.servicedays ._ml-0px._col-black {
    font-size: 14px;
    color: #344054;
    font-weight: 500;
    line-height: 20px;
}
.servicedays button.is_Button {
    min-height: 40px !important;
    min-width: 40px !important;
    box-shadow: 0px 1px 3px 0px #1018281A !important;
}
.Preventradio button#Yesradio-item, .Preventradio button#Noradio-item {
    width: 18px;
    height: 18px;
	border: 1px solid #9497B8;
}
.locationselect li {
    border: 1px solid #9497B8;
}
.assignselect li {
    border: 1px solid #9497B8;
    width: 180px !important;
}
